body {
    background-color: #7EFFCC;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div {
    /*These are used to center the default divs on the page.
    with width 800 px.*/
    margin-left: auto;
    margin-right: auto;
    width: 800px;

    /*Add a margin at the bottom to seperate the divs.*/
    margin-bottom: 10px;
}

iframe {
    display: block;

    /*Center in the screen*/
    margin-left: auto;
    margin-right: auto;

    /*Add a bottom margin for neatness.*/
    margin-bottom: 12px;
}

canvas {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.fullBox {
    background:white;
    border-style:solid;
    border-width:1.5px;
    border-color: black;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.links a {
    border-style: solid;
    border-width: 1.5px;
    border-color: black;
    border-radius: 4px;
    -moz-border-radius: 4px;

    font-size: 16px;
    font-weight: 600;

    padding: 1.5px 12px;

    background-color: white;
    color: black;
}

.links a:hover{
    background-color: black;
    color:white;
}

p {
    margin-left: 12px;
    margin-right: 12px;
}
